.hero-section{
    height: 100dvh;
    width: 100%;

    background-image: url(../../assets/wallpaper1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

    
}
.hero-content{

    height: 100%;
    width: 100%;


    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: rgba(0,0,0,0.6);
}

.hero-card{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    height: fit-content;
    width: fit-content;
    padding: 1rem;

    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.6);
}
