.hero-section{
    height: 100dvh;
    width: 100%;

    /* background-image: url(../../assets/black_net-purp.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    background-position: center;
    
    background-image: url("../../assets/circ1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: blur(3px); */
    
}

.hero-background{
    
    width: 100%;
    height: 100%;
    
    background: radial-gradient(circle at top right, rgba(69, 0, 14, 0.8), rgba(0,0,0,0.27) 60%), radial-gradient(circle at bottom left, rgba(128, 0, 128, 0.8), rgba(0,0,0,0.8));
}

.hero-content{

    height: 100%;
    width: 100%;


    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* background:linear-gradient(var(--bg-dark),transparent); */
    background:radial-gradient(transparent,var(--bg-dark) 80%);

}

.hero-card{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 2rem; */

    height: fit-content;
    width: fit-content;
    padding: 1rem;

    text-align: center;


    /* backdrop-filter: blur(2px); */
    /* background-color: rgba(255, 255, 255, 0.434); */

    /* display: none; */
    color: var(--text-pure);
}


.hero-card h1{
    font-size: 7rem;
    margin-bottom: 0;

    font-weight: 400;

    font-family: "Tourney";
}
.hero-card h1>span{
    font-family: "Tourney";
    color:transparent;
    background: linear-gradient(135deg,var(--ras-maroon),var(--ras-purple)) text;
}

.hero-card h3{
    font-family: 'Courier New', Courier, monospace;
    
}
.hero-card button{
    font-family: 'Courier New', Courier, monospace;
    width: fit-content;
    font-size: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 2rem;

    text-transform: uppercase;

    background-color: var(--ras-maroon);
    border: none;
    color:var(--text-pure)
}
