#about-us{
    width: 100%;
    height: 100dvh;

    background-color: var(--bg-dark);
}

.about-container{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 2rem;
    padding-top: 5rem;
}

.about-card{
    transition: 0.3s;

    padding: 1rem;

    background: linear-gradient(135deg,rgba(0, 0, 0,0.6),var(--bg-dark)) padding-box,
                linear-gradient(135deg, var(--ras-maroon), var(--ras-purple)) border-box;
    /* background: linear-gradient(135deg,rgba(152, 0, 46,0.6),var(--bg-dark)) padding-box,
                linear-gradient(135deg, var(--ras-maroon), var(--ras-purple)) border-box; */
                
    border: 5px solid transparent;
    border-radius: 1rem;

    color: var(--text-pure);

}
.about-card p{
    color:var(--text-muted)
}
.about-card span{
    background:linear-gradient(135deg, var(--ras-maroon), var(--ras-purple)) text;
    color: transparent;
    text-shadow: 0 0 rgb(255, 255, 255) 5px;
}

.about-card:hover{
    transform: translateY(-5px);
}

.whoWeAre{
    grid-area: 1/1/3/2;
}

.stats{
    grid-area:auto/1/auto/3;
    text-align: center;
}

.stats > ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    

    list-style-type: none;
}

.card-spotlight {
    position: relative;
    border-radius: 1.5rem;
    /* border: 1px solid #222; */
    /* background-color: #111; */
    
    border: 1px solid transparent;
    background: linear-gradient(135deg,rgba(0, 0, 0,0.6),var(--bg-dark)) padding-box,
                linear-gradient(135deg, var(--ras-maroon), var(--ras-purple)) border-box;


    padding: 2rem;
    overflow: hidden;
    --mouse-x: 50%;
    --mouse-y: 50%;
    --spotlight-color: rgba(255, 255, 255, 0.05);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-spotlight::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle at var(--mouse-x) var(--mouse-y), var(--spotlight-color), transparent 80%);
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
}

.card-spotlight:hover::before,
.card-spotlight:focus-within::before {
    opacity: 0.6;
}

.card-spotlight p,h3{
    margin: 0;

}