.pointer{
    cursor: pointer;
}

.navbar{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding:0 2rem;

    background: linear-gradient(var(--bg-dark),transparent);

}

header{
    /* box-shadow: 0 2px 10px rgba(0,0,0,0.1); */
    position: fixed;  
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar > *{
    flex:1;
}

.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    
    padding: 0;
    list-style-type: none;

    /* border: 2px solid var(--text-pure); */
    border-radius: 1rem;
    padding: 1rem;

}
.nav-links a{
    transition: 0.3s;
    text-decoration: none;
    font-size: clamp(1rem,1.2vw,1.5rem);


    background-color: rgba(255,255,255,0);
    border-radius: 1rem;
    padding: 0.5rem;
    
    color:var(--text-pure)
}
.nav-links a:hover{
    color:var(--ras-maroon);
    /* background-color: rgba(255,255,255,0.6); */
}

.logo-container{
    box-sizing: border-box;
    /* padding: 1rem; */
}

.logo-container img{
    transition:0.3s;
    height: 3rem;
}
.logo-container img:hover{
    transform: scale(1.1);
}

.nav-actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.social-links{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}


.header__social-icon-wrapper{
    transition: 0.3s;

    box-sizing: border-box;
    padding: 10px;
    /* background-color: var(--text-pure); */
    background: transparent;
    
    color: var(--text-pure);
    border-radius: 20%;
    border: 1px solid var(--text-pure);

    display: flex;
    justify-content: center;
    align-items: center;
}

.header__social-icon-wrapper:hover{
    /* background:linear-gradient(135deg, var(--ras-maroon), var(--ras-purple)); */
    background-color:var(--ras-maroon);
}