.pointer{
    cursor: pointer;
}

.navbar{
    background-color: white;
    border: 3px solid blue;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding:0 2rem;
}

.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    
    padding: 0;
    list-style-type: none;

}
.nav-links a{
    text-decoration: none;
    font-size: clamp(1rem,18px,1.5rem);
    font-family: sans-serif;
}

.logo-container{
    /* background-color: red; */
    /* height: 1rem; */
}

.logo-container img{
    height: 2rem;
}

.nav-actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.social-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.header__social-icon-wrapper{
    box-sizing: border-box;
    padding: 10px;
    background-color: #7b00ff;
    color: white;
    border-radius: 50%;
    height:2rem;
    width: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}