.pointer{
    cursor: pointer;
}

.navbar{
    background-color: white;
    border: 3px solid blue;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding:0 2rem;
/*     
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: sticky;  
    top: 0;
    z-index: 1000; */
}

header{
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: sticky;  
    top: 0;
    z-index: 1000;
}

.navbar > *{
    flex:1;
}

.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    
    padding: 0;
    list-style-type: none;

}
.nav-links a{
    text-decoration: none;
    font-size: clamp(1rem,1.2vw,1.5rem);
    font-family: sans-serif;
}

.logo-container{
    /* background-color: red; */
    /* height: 1rem; */
}

.logo-container img{
    height: 2rem;
}

.nav-actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.social-links{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.header__social-icon-wrapper{
    box-sizing: border-box;
    padding: 10px;
    background-color: #7b00ff;
    color: white;
    border-radius: 50%;
    /* height:2rem;
    width: 2rem; */

    display: flex;
    justify-content: center;
    align-items: center;
}