.pointer{
    cursor: pointer;
}

.navbar{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding:0 2rem;

    background: linear-gradient(var(--bg-dark),transparent);

}

header{
    /* box-shadow: 0 2px 10px rgba(0,0,0,0.1); */
    position: fixed;  
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar > *{
    flex:1;
}

.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    
    padding: 0;
    list-style-type: none;

}
.nav-links a{
    text-decoration: none;
    font-size: clamp(1rem,1.2vw,1.5rem);

    color:var(--text-pure)
}

.logo-container{
    box-sizing: border-box;
    padding: 1rem;
}

.logo-container img{
    height: 3rem;
}

.nav-actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.social-links{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.header__social-icon-wrapper{
    transition: 0.3s;

    box-sizing: border-box;
    padding: 10px;
    background-color: var(--text-pure);
    color: var(--ras-maroon);
    border-radius: 50%;
    /* height:2rem;
    width: 2rem; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.header__social-icon-wrapper:hover{
    background-color:var(--ras-maroon-hover);
    color:var(--text-pure);
}