:root{
    
}
*{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

.app-container{
    width: 100%;
    /* height: 100dvh; */
    padding: 0;
    margin: 0;
    border: 0;

    /* background-color: red; */
}